@import "./typogarphy.css";
@import "./icon.css";
@import "./button.css";
@import "./breadcrumb.css";
@import "./divider.css";
@import "./avatar.css";
@import "./chip.css";
@import "./statistic.css";

:root {
    /* Color */
    --pui-color-primary: #2367DB;
    --pui-color-primay-strong: #005EFF;
    --pui-color-primay-light: #4D83E0;
    --pui-color-primay-soft: #C6D7F7;
    --pui-color-secondary: #BAD0F7;
    --pui-color-secondary-light: #EBF1F7;
    --pui-color-secondary-soft: #E4EDF7;
    --pui-color-success: #2FB344;
    --pui-color-success-light: #73C781;
    --pui-color-success-strong: #2EC747;
    --pui-color-warning: #FFA500;
    --pui-color-warning-light: #F2B950;
    --pui-color-warning-strong: #FAD52F;
    --pui-color-error: #D63939;
    --pui-color-error-light: #D95B5B;
    --pui-color-error-strong: #FA1E1E;
    --pui-color-grey: #757575;
    --pui-color-grey-soft: #F7F8FA;
    --pui-color-grey-light: #D6D6D6;
    --pui-color-grey-strong: #4E5969;
    --pui-color-white: #FFFFFF;
    --pui-color-black: #16191F;

    /* Button */
    --pui-btn-padding: 9px 30px;
    --pui-btn-border-radius: 6px;
}


@font-face {
    font-family: 'SourceHanSansSC';
    src: url(../fonts/SourceHanSansSC-Normal.otf);
}

@font-face {
    font-family: 'SourceHanSansSC-Medium';
    src: url(../fonts/SourceHanSansSC-Medium.otf);
}

@font-face {
    font-family: 'SourceHanSansSC-Bold';
    src: url(../fonts/SourceHanSansSC-Bold.otf);
}

* {
    font-family: 'SourceHanSansSC';
}