body {
    margin: 0;
}

.pui-content {
    padding: 10px 30px;
    margin: 0;
    line-height: 20.27px;
    font-size: 14px;
    font-weight: normal;
    color: var(--pui-color-black);
    font-family: 'SourceHanSansSC-Normal';
    float: left;
}

.pui-content a {
    color: var(--pui-color-primary);
    text-decoration: none;
}

/* Typogarphy */
.pui-content h1 {
    margin: 0;
    font-size: 36px;
    color: var(--pui-color-black);
    line-height: 52.13px;
    font-family: 'SourceHanSansSC-Medium';
}

.pui-content h2 {
    margin: 0;
    font-size: 32px;
    color: var(--pui-color-black);
    line-height: 46.34px;
    font-family: 'SourceHanSansSC-Medium';
}

.pui-content h3 {
    margin: 0;
    font-size: 28px;
    color: var(--pui-color-black);
    line-height: 40.54px;
    font-family: 'SourceHanSansSC-Medium';
}

.pui-content h4 {
    margin: 0;
    line-height: 34.75px;
    font-size: 24px;
    color: var(--pui-color-black);
    font-family: 'SourceHanSansSC-Medium';
}

.pui-content h5 {
    margin: 0;
    line-height: 28.96px;
    font-size: 20px;
    color: var(--pui-color-black);
    font-family: 'SourceHanSansSC-Medium';
}

.pui-content h6 {
    margin: 0;
    line-height: 23.17px;
    font-size: 16px;
    color: var(--pui-color-black);
    font-family: 'SourceHanSansSC-Medium';
}

.pui-content p {
    margin: 0;
    line-height: 20.27px;
    font-size: 14px;
    font-weight: normal;
    color: var(--pui-color-black);
}

.pui-text-color-primary {
    color: var(--pui-color-primary);
}
.pui-text-color-secondary {
    color: var(--pui-color-secondary);
}
.pui-text-color-success {
    color: var(--pui-color-success);
}
.pui-text-color-warning {
    color: var(--pui-color-warning);
}
.pui-text-color-error {
    color: var(--pui-color-error);
}
.pui-text-color-grey {
    color: var(--pui-color-grey);
}
.pui-text-color-black {
    color: var(--pui-color-black);
}
.pui-text-color-white {
    color: var(--pui-color-white);
}
.pui-text-weight-bold {
    font-weight: medium;
}
.pui-text-weight-normal {
    font-weight: normal;
}
.pui-text-weight-medium {
    font-weight: medium;
}