/* Typogarphy */

.pui-content {
    padding: 10px 30px;
    margin: 0;
    line-height: 20.27px;
    font-size: 14px;
    font-weight: normal;
    color: var(--pui-color-black);
}

.pui-content h1 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
    color: var(--pui-color-black);
    line-height: 52.13px;
}

.pui-content h2 {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
    color: var(--pui-color-black);
    line-height: 46.34px;
}

.pui-content h3 {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    color: var(--pui-color-black);
    line-height: 40.54px;
}

.pui-content h4 {
    margin: 0;
    line-height: 34.75px;
    font-size: 24px;
    font-weight: bold;
    color: var(--pui-color-black);
}

.pui-content h5 {
    margin: 0;
    line-height: 28.96px;
    font-size: 20px;
    font-weight: bold;
    color: var(--pui-color-black);
}

.pui-content h6 {
    margin: 0;
    line-height: 23.17px;
    font-size: 16px;
    font-weight: bold;
    color: var(--pui-color-black);
}

.pui-content p {
    margin: 0;
    line-height: 20.27px;
    font-size: 14px;
    font-weight: normal;
    color: var(--pui-color-black);
}